@media screen and (max-width: 1224px) and (min-width: 993px) {
    /* nav ul li {
        display: inline-block;
        margin: 0 .8rem;
    } */

    /* Hero section */
    /* .hero-box img {
        width: 25rem;
        height: 100%;
    } */

    /* .hero-box {
        top: 6rem;
    } */

    /* About section */

    /* Projects */
    /* .projects-boxs {
        padding: 0 3rem;
    } */
}